name: speakhands_mobile
description: Aplicación móvil de traducción y aprendizaje de lengua de señas con Flutter y IA.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  tflite_flutter: ^0.11.0
  camera: ^0.10.5+5
  path_provider: ^2.0.15
  firebase_core: ^4.2.0
  firebase_database: ^12.0.3
  firebase_storage: ^13.0.3
  cloud_firestore: ^6.0.3
  provider: ^6.1.4
  firebase_auth: ^6.1.1
  google_sign_in: ^6.2.1
  flutter_facebook_auth: ^6.0.3
  image_picker: ^0.8.7+4
  flutter_tts: ^3.8.3 # TTS (texto -> voz)
  shared_preferences: ^2.2.2
  speech_to_text: ^7.3.0 # STT (micrófono -> texto)
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  flutter_gen: ^5.10.0
  permission_handler: ^12.0.1 # opcional, para pedir permisos explícitamente
  video_player: ^2.9.2 # para reproducir videos de señas
  url_launcher: ^6.3.2  # para abrir enlaces

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.14.4
  
flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/iconos/
    - assets/images/
    - assets/model/sign_language_model.tflite
    - assets/fonts/
    - assets/model/hand_landmarker.task
    - assets/lexicon/interpreter_function.json
    - assets/lexicon/videos/
    - assets/lexicon/images/

#  El bloque l10n VA FUERA del bloque flutter
l10n:
  arb-dir: lib/l10n
  template-arb-file: intl_en.arb
  output-localization-file: app_localizations.dart

    # Si tienes sonidos, íconos o más, aquí los agregas

flutter_launcher_icons: 
android: "adaptive" 
image_path: assets/images/LogoLSM.png # tu ícono (por ej. un logotipo minimal) 
adaptive_icon_background: "#FF5C8DAD" # negro (combina con el splash) 
adaptive_icon_foreground: assets/images/LogoLSM.pn

# Opcional para futuras fuentes personalizadas
# fonts:
#   - family: Nunito
#     fonts:
#       - asset: assets/fonts/Nunito-Regular.ttf
#       - asset: assets/fonts/Nunito-Bold.ttf
#         weight: 700
